/* Skin demo 2 - index-2.html */
/* Skin structure */
::-moz-selection {
  background-color: #2596be; }

::selection {
  background-color: #2596be; }

.bg-primary {
  background-color: #2596be !important; }

.bg-secondary {
  background-color: #2596be !important; }

a {
  color: #2596be; }

a:hover,
a:focus {
  color: #2596be; }

.link-underline {
  box-shadow: 0 1px 0 0 #2596be; }

.text-primary {
  color: #2596be !important; }

.text-secondary {
  color: #2596be !important; }

/* Elements */
.alert-primary {
  background-color: #2596be; }

.banner-badge .banner-link:hover .banner-link-text,
.banner-badge .banner-link:focus .banner-link-text {
  background-color: #2596be; }

.header-3 .header-search-extended .btn,
.header-4 .header-search-extended .btn {
  background-color: transparent;
  color: #333; }
  .header-3 .header-search-extended .btn:hover, .header-3 .header-search-extended .btn:focus,
  .header-4 .header-search-extended .btn:hover,
  .header-4 .header-search-extended .btn:focus {
    color: #2596be; }

.btn-video {
  color: #2596be; }
  .btn-video:hover, .btn-video:focus {
    background-color: #2596be; }

.breadcrumb-item a:hover, .breadcrumb-item a:focus {
  color: #2596be; }

.btn-link {
  color: #2596be; }
  .btn-link:hover, .btn-link:focus,
  .btn-link .btn-link-dark:hover,
  .btn-link .btn-link-dark:focus {
    color: #2596be;
    border-color: #2596be; }

/* generated with mixins */
.btn-primary {
  color: #fff;
  background-color: #2596be;
  border-color: #2596be;
  box-shadow: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be; }

.btn-secondary {
  color: #fff;
  background-color: #2596be;
  border-color: #2596be;
  box-shadow: none; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be; }

.btn-white {
  color: #333333;
  background-color: #fff;
  border-color: #fff;
  box-shadow: none; }
  .btn-white:hover, .btn-white:focus, .btn-white.focus, .btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-white.disabled, .btn-white:disabled {
    color: #333333;
    background-color: #fff;
    border-color: #fff; }

.btn-white-2 {
  color: #333333;
  background-color: #fff;
  border-color: #fff;
  box-shadow: none; }
  .btn-white-2:hover, .btn-white-2:focus, .btn-white-2.focus, .btn-white-2:not(:disabled):not(.disabled):active, .btn-white-2:not(:disabled):not(.disabled).active, .show > .btn-white-2.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-white-2.disabled, .btn-white-2:disabled {
    color: #333333;
    background-color: #fff;
    border-color: #fff; }

.btn-primary-white {
  color: #fff;
  background-color: #2596be;
  border-color: #2596be;
  box-shadow: none; }
  .btn-primary-white:hover, .btn-primary-white:focus, .btn-primary-white.focus, .btn-primary-white:not(:disabled):not(.disabled):active, .btn-primary-white:not(:disabled):not(.disabled).active, .show > .btn-primary-white.dropdown-toggle {
    color: #2596be;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none; }
  .btn-primary-white.disabled, .btn-primary-white:disabled {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be; }

.btn-white-primary {
  color: #2596be;
  background-color: #fff;
  border-color: #fff;
  box-shadow: none; }
  .btn-white-primary:hover, .btn-white-primary:focus, .btn-white-primary.focus, .btn-white-primary:not(:disabled):not(.disabled):active, .btn-white-primary:not(:disabled):not(.disabled).active, .show > .btn-white-primary.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-white-primary.disabled, .btn-white-primary:disabled {
    color: #2596be;
    background-color: #fff;
    border-color: #fff; }

.btn-dark {
  color: #fff;
  background-color: #333;
  border-color: #333;
  box-shadow: none; }
  .btn-dark:hover, .btn-dark:focus, .btn-dark.focus, .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #333;
    border-color: #333; }

.btn-outline {
  color: #2596be;
  background-color: transparent;
  background-image: none;
  border-color: #ebebeb;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }
  .btn-outline:hover, .btn-outline:focus, .btn-outline.focus, .btn-outline:not(:disabled):not(.disabled):active, .btn-outline:not(:disabled):not(.disabled).active, .show > .btn-outline.dropdown-toggle {
    color: #2596be;
    background-color: transparent;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }
  .btn-outline.disabled, .btn-outline:disabled {
    color: #2596be;
    background-color: transparent; }

.btn-outline-primary {
  color: #2596be;
  background-color: transparent;
  background-image: none;
  border-color: #2596be;
  box-shadow: none; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #2596be;
    background-color: transparent;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #2596be;
    background-color: transparent; }

.btn-outline-primary-2 {
  color: #2596be;
  background-color: transparent;
  background-image: none;
  border-color: #2596be;
  box-shadow: none; }
  .btn-outline-primary-2:hover, .btn-outline-primary-2:focus, .btn-outline-primary-2.focus, .btn-outline-primary-2:not(:disabled):not(.disabled):active, .btn-outline-primary-2:not(:disabled):not(.disabled).active, .show > .btn-outline-primary-2.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-outline-primary-2.disabled, .btn-outline-primary-2:disabled {
    color: #2596be;
    background-color: transparent; }

.btn-outline-light {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
  box-shadow: none; }
  .btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light.focus, .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle {
    color: #2596be;
    background-color: transparent;
    border-color: #fff;
    box-shadow: none; }
  .btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #fff;
    background-color: transparent; }

.btn-outline-dark {
  color: #333333;
  background-color: transparent;
  background-image: none;
  border-color: #d7d7d7;
  box-shadow: none; }
  .btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle {
    color: #2596be;
    background-color: transparent;
    border-color: #ebebeb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }
  .btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #333333;
    background-color: transparent; }

.btn-outline-dark-2 {
  color: #333333;
  background-color: transparent;
  background-image: none;
  border-color: #ebebeb;
  box-shadow: none; }
  .btn-outline-dark-2:hover, .btn-outline-dark-2:focus, .btn-outline-dark-2.focus, .btn-outline-dark-2:not(:disabled):not(.disabled):active, .btn-outline-dark-2:not(:disabled):not(.disabled).active, .show > .btn-outline-dark-2.dropdown-toggle {
    color: #2596be;
    background-color: #fafafa;
    border-color: #ebebeb;
    box-shadow: none; }
  .btn-outline-dark-2.disabled, .btn-outline-dark-2:disabled {
    color: #333333;
    background-color: transparent; }

.btn-outline-dark-3 {
  color: #333333;
  background-color: transparent;
  background-image: none;
  border-color: #d7d7d7;
  box-shadow: none; }
  .btn-outline-dark-3:hover, .btn-outline-dark-3:focus, .btn-outline-dark-3.focus, .btn-outline-dark-3:not(:disabled):not(.disabled):active, .btn-outline-dark-3:not(:disabled):not(.disabled).active, .show > .btn-outline-dark-3.dropdown-toggle {
    color: #2596be;
    background-color: transparent;
    border-color: #2596be;
    box-shadow: none; }
  .btn-outline-dark-3.disabled, .btn-outline-dark-3:disabled {
    color: #333333;
    background-color: transparent; }

.btn-outline-darker {
  color: #333333;
  background-color: transparent;
  background-image: none;
  border-color: #d7d7d7;
  box-shadow: none; }
  .btn-outline-darker:hover, .btn-outline-darker:focus, .btn-outline-darker.focus, .btn-outline-darker:not(:disabled):not(.disabled):active, .btn-outline-darker:not(:disabled):not(.disabled).active, .show > .btn-outline-darker.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-outline-darker.disabled, .btn-outline-darker:disabled {
    color: #333333;
    background-color: transparent; }

.btn-outline-gray {
  color: #333333;
  background-color: transparent;
  background-image: none;
  border-color: #959595;
  box-shadow: none; }
  .btn-outline-gray:hover, .btn-outline-gray:focus, .btn-outline-gray.focus, .btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active, .show > .btn-outline-gray.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-outline-gray.disabled, .btn-outline-gray:disabled {
    color: #333333;
    background-color: transparent; }

.btn-outline-lightgray {
  color: #333333;
  background-color: transparent;
  background-image: none;
  border-color: #ebebeb;
  box-shadow: none; }
  .btn-outline-lightgray:hover, .btn-outline-lightgray:focus, .btn-outline-lightgray.focus, .btn-outline-lightgray:not(:disabled):not(.disabled):active, .btn-outline-lightgray:not(:disabled):not(.disabled).active, .show > .btn-outline-lightgray.dropdown-toggle {
    color: #2596be;
    background-color: #f5f6f9;
    border-color: #ebebeb;
    box-shadow: none; }
  .btn-outline-lightgray.disabled, .btn-outline-lightgray:disabled {
    color: #333333;
    background-color: transparent; }

.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
  box-shadow: none; }
  .btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white.focus, .btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active, .show > .btn-outline-white.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-outline-white.disabled, .btn-outline-white:disabled {
    color: #fff;
    background-color: transparent; }

.btn-outline-white-2 {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
  box-shadow: none; }
  .btn-outline-white-2:hover, .btn-outline-white-2:focus, .btn-outline-white-2.focus, .btn-outline-white-2:not(:disabled):not(.disabled):active, .btn-outline-white-2:not(:disabled):not(.disabled).active, .show > .btn-outline-white-2.dropdown-toggle {
    color: #fff;
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none; }
  .btn-outline-white-2.disabled, .btn-outline-white-2:disabled {
    color: #fff;
    background-color: transparent; }

.btn-outline-white-4 {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
  box-shadow: none; }
  .btn-outline-white-4:hover, .btn-outline-white-4:focus, .btn-outline-white-4.focus, .btn-outline-white-4:not(:disabled):not(.disabled):active, .btn-outline-white-4:not(:disabled):not(.disabled).active, .show > .btn-outline-white-4.dropdown-toggle {
    color: #2596be;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none; }
  .btn-outline-white-4.disabled, .btn-outline-white-4:disabled {
    color: #fff;
    background-color: transparent; }

.newsletter-popup-container .input-group .btn:hover, .newsletter-popup-container .input-group .btn:focus {
  background-color: #2596be; }

.bg-image .btn-link-dark:hover, .bg-image .btn-link-dark:focus {
  color: #2596be;
  border-color: #2596be; }
.bg-image .btn-outline-primary:hover, .bg-image .btn-outline-primary:focus, .bg-image .btn-outline-primary.focus, .bg-image .btn-outline-primary:not(:disabled):not(.disabled):active, .bg-image .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .bg-image .btn-outline-primary.dropdown-toggle {
  background-color: #2596be;
  border-color: #2596be; }
.bg-image .btn-outline-dark:hover, .bg-image .btn-outline-dark:focus, .bg-image .btn-outline-dark.focus, .bg-image .btn-outline-dark:not(:disabled):not(.disabled):active, .bg-image .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .bg-image .btn-outline-dark.dropdown-toggle {
  color: #2596be; }

.card-title a {
  color: #2596be; }
  .card-title a:before {
    color: #2596be; }
  .card-title a.collapsed:hover, .card-title a.collapsed:focus {
    color: #2596be; }

.count-wrapper {
  color: #2596be; }

.feature-box i {
  color: #2596be; }

.feature-box-simple i {
  color: #2596be; }

.form-control:focus {
  border-color: #2596be; }

.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #2596be; }
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #2596be; }

.icon-box-icon {
  color: #2596be; }

.icon-box-circle .icon-box-icon {
  background-color: #2596be; }

.instagram-feed-content a:hover, .instagram-feed-content a:focus {
  color: #2596be; }

.close:hover, .close:focus {
  color: #2596be; }

.page-header h1 span {
  color: #2596be; }

.page-link:hover, .page-link:focus {
  color: #2596be; }

.page-item.active .page-link {
  color: #2596be; }

.social-icon:hover, .social-icon:focus {
  color: #2596be;
  border-color: #2596be; }

.testimonial-icon:before {
  color: #2596be; }

.nav.nav-tabs .nav-link:hover, .nav.nav-tabs .nav-link:focus {
  color: #2596be; }
.nav.nav-tabs .nav-item.show .nav-link,
.nav.nav-tabs .nav-item .nav-link.active {
  color: #2596be; }

.nav.nav-pills .nav-link:hover, .nav.nav-pills .nav-link:focus {
  color: #2596be; }
.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  color: #2596be;
  border-bottom-color: #2596be; }

.nav.nav-border-anim .nav-link:before {
  background-color: #2596be; }

.title-link:hover, .title-link:focus {
  box-shadow: 0 1px 0 0 #2596be; }

.product-countdown.countdown-primary .countdown-amount {
  color: #2596be; }

.product-title a:hover, .product-title a:focus {
  color: #2596be; }

.product-price {
  color: #2596be; }

.product-label.label-primary {
  background-color: #2596be; }
.product-label.label-secondary {
  background-color: #2596be; }

.product-label-text {
  color: #2596be; }

.ratings-primary .ratings-val {
  color: #2596be; }

.ratings-text a:hover, .ratings-text a:focus {
  color: #2596be; }

.btn-product {
  color: #2596be; }
  .btn-product:hover span, .btn-product:focus span {
    color: #2596be;
    box-shadow: 0 1px 0 0 #2596be; }

.btn-product-icon {
  color: #2596be; }
  .btn-product-icon:hover, .btn-product-icon:focus {
    background-color: #2596be; }

.product-body .btn-wishlist:hover, .product-body .btn-wishlist:focus {
  color: #2596be; }

.btn-expandable span {
  background-color: #2596be; }

.product.product-4 .btn-product:hover, .product.product-4 .btn-product:focus {
  background-color: #2596be; }

.product.product-5 .btn-product {
  color: #2596be; }
  .product.product-5 .btn-product:hover, .product.product-5 .btn-product:focus {
    background-color: #2596be; }

.product.product-7 .btn-product {
  color: #2596be; }
  .product.product-7 .btn-product span {
    color: #2596be; }
  .product.product-7 .btn-product:hover, .product.product-7 .btn-product:focus {
    background-color: #2596be;
    border-bottom-color: #2596be; }

.product.product-8 .new-price {
  color: #2596be; }
.product.product-8 .btn-product:before {
  color: #2596be; }
.product.product-8 .btn-product:hover, .product.product-8 .btn-product:focus {
  background-color: #2596be; }

.product.product-list .btn-product:hover, .product.product-list .btn-product:focus {
  color: #2596be; }
.product.product-list .btn-product.btn-cart {
  color: #2596be;
  border-bolor: #2596be; }
  .product.product-list .btn-product.btn-cart:hover, .product.product-list .btn-product.btn-cart:focus {
    background-color: #2596be; }

/* Footers */
.footer a:hover,
.footer a:focus {
  color: #2596be; }

.footer-dark.footer-2 .widget-about-title {
  color: #2596be; }

/* Headers */
.header-top a:hover, .header-top a:focus {
  color: #2596be; }

.top-menu span {
  color: #2596be; }

.header-menu a:hover, .header-menu a:focus {
  color: #2596be; }

.account a:hover, .account a:focus {
  color: #2596be; }

.wishlist a:hover, .wishlist a:focus {
  color: #2596be; }
.wishlist a .wishlist-count {
  background-color: #2596be; }

.cart-dropdown:hover .dropdown-toggle, .cart-dropdown.show .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle {
  color: #2596be; }

.compare-product-title a:hover, .compare-product-title a:focus {
  color: #2596be; }

.compare-actions .action-link:hover, .compare-actions .action-link:focus {
  color: #2596be; }

.cart-dropdown .cart-count {
  background-color: #2596be; }
.cart-dropdown .product-title a:hover, .cart-dropdown .product-title a:focus {
  color: #2596be; }

.wishlist-link .wishlist-count {
  background-color: #2596be; }
.wishlist-link:hover, .wishlist-link:focus {
  color: #2596be; }

.search-toggle:hover,
.search-toggle:focus,
.search-toggle.active {
  color: #2596be; }

/* Menu */
.menu li:hover > a,
.menu li.show > a,
.menu li.active > a {
  color: #2596be; }

.demo-item a:hover, .demo-item a:focus {
  color: #2596be; }

.tip {
  background-color: #2596be; }

.header-bottom .menu > li > a:before {
  background-color: #2596be; }

.category-dropdown .dropdown-toggle:before {
  background-color: #2596be; }
.category-dropdown .dropdown-toggle:hover, .category-dropdown .dropdown-toggle:focus {
  color: #fff;
  background-color: #2596be; }
.category-dropdown:not(.is-on):hover .dropdown-toggle {
  background-color: #2596be; }
.category-dropdown.show .dropdown-toggle {
  color: #fff;
  background-color: #2596be; }
.category-dropdown .dropdown-item:hover, .category-dropdown .dropdown-item:focus {
  color: #2596be; }

/* Vertical Menu */
.menu-vertical li:hover > a,
.menu-vertical li.show > a,
.menu-vertical li.active > a {
  color: #2596be; }
.menu-vertical > li:hover > a,
.menu-vertical > li.show > a,
.menu-vertical > li.active > a {
  color: #2596be; }

.mobile-menu-close:hover, .mobile-menu-close:focus {
  color: #2596be; }

.mobile-menu li a:hover, .mobile-menu li a:focus {
  color: #2596be; }
.mobile-menu li.open > a, .mobile-menu li.active > a {
  color: #2596be; }

.mmenu-btn:hover, .mmenu-btn:focus {
  color: #2596be; }

.mobile-search .form-control:focus {
  border-color: #2596be; }

.nav.nav-pills-mobile .nav-link.active, .nav.nav-pills-mobile .nav-link:hover, .nav.nav-pills-mobile .nav-link:focus {
  color: #2596be;
  border-bottom-color: #2596be; }

.mobile-cats-menu li a:hover, .mobile-cats-menu li a:focus {
  color: #2596be; }

.mobile-menu-light .mobile-menu li.open > a, .mobile-menu-light .mobile-menu li.active > a {
  color: #2596be; }
.mobile-menu-light .mobile-search .form-control:focus {
  border-color: #2596be; }

/* Header 4 */
.header-4 .header-search .header-search-wrapper {
  border-color: #2596be; }
.header-4 .dropdown.category-dropdown .dropdown-toggle:not(:hover):not(:focus) {
  color: #2596be; }

@media screen and (max-width: 991px) {
  .header-4 .header-search-visible .header-search-wrapper:before {
    border-bottom-color: #2596be; } }
/* Header 6 */
.header-6 .header-middle a:hover, .header-6 .header-middle a:focus {
  color: #2596be; }

.header-8 .header-top {
  color: #ebf3de;
  background-color: #2596be; }

/* Header 10 */
.header-10 .header-search .header-search-wrapper {
  border-color: #2596be; }
.header-10 .category-dropdown .dropdown-toggle {
  background-color: #2596be; }
.header-10 .menu-vertical .menu-title {
  color: #2596be; }

/* Header 12 */
.header-12 .dropdown.category-dropdown .dropdown-toggle {
  background-color: #2596be; }

/* Header 13 */
.header-13 .dropdown.category-dropdown .dropdown-toggle {
  background-color: #2596be; }

/* Header 14 */
.header-14 .header-search .header-search-wrapper {
  border-color: #2596be; }
.header-14 .dropdown.category-dropdown .dropdown-toggle {
  background-color: #2596be; }

/* Pages */
.entry-video a:hover:after, .entry-video a:focus:after {
  color: #2596be; }

.entry-meta a:hover, .entry-meta a:focus {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }

.entry-title a:hover, .entry-title a:focus {
  color: #2596be; }

.entry-cats a:hover, .entry-cats a:focus {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }

.read-more:hover, .read-more:focus {
  box-shadow: 0 1px 0 0 #2596be; }

.menu-cat a:hover, .menu-cat a:focus {
  color: #2596be; }
.menu-cat li.active a {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }

.widget-search .btn:hover, .widget-search .btn:focus {
  color: #2596be; }

.widget-cats a:hover, .widget-cats a:focus {
  color: #2596be; }

.posts-list a:hover, .posts-list a:focus {
  color: #2596be; }

.tagcloud a:hover, .tagcloud a:focus {
  color: #2596be; }

.table .total-col {
  color: #2596be; }

.btn.btn-spinner:hover, .btn.btn-spinner:focus {
  color: #2596be; }

.table.table-summary .summary-shipping-estimate a:hover, .table.table-summary .summary-shipping-estimate a:focus {
  color: #2596be;
  border-bottom-color: #2596be; }

.sidebar-toggler:hover, .sidebar-toggler:focus {
  color: #2596be; }

#filter-price-range {
  color: #2596be; }

.checkout-discount label span {
  color: #2596be; }
.checkout-discount .form-control:focus {
  border-color: #2596be; }

.table.table-summary a:hover, .table.table-summary a:focus {
  color: #2596be; }
.table.table-summary .summary-total td {
  color: #2596be; }

.accordion-summary .card-title a:before {
  border-color: #2596be; }
.accordion-summary .card-title a:after {
  background-color: #2596be; }

.paypal-link:hover, .paypal-link:focus {
  color: #2596be !important; }

.coming-countdown .countdown-amount {
  color: #2596be; }
.coming-countdown.countdown-separator .countdown-section:not(:last-child):after {
  color: #2596be; }

.contact-box a:hover, .contact-box a:focus {
  color: #2596be; }

.contact-list a:hover, .contact-list a:focus {
  color: #2596be; }
.contact-list i {
  color: #2596be; }

.store a:not(.btn):hover, .store a:not(.btn):focus {
  color: #2596be; }

.nav-dashboard .nav-link:hover, .nav-dashboard .nav-link:focus, .nav-dashboard .nav-link.active {
  color: #2596be; }

.form-tab .form-footer a:hover, .form-tab .form-footer a:focus {
  color: #2596be; }

.nav-filter a:hover, .nav-filter a:focus {
  color: #2596be; }
.nav-filter .active a {
  color: #2596be;
  border-bottom-color: #2596be; }

.portfolio-title a:hover, .portfolio-title a:focus {
  color: #2596be; }

.portfolio-tags a {
  color: #2596be; }
  .portfolio-tags a:hover, .portfolio-tags a:focus {
    color: #2596be;
    box-shadow: 0 1px 0 #2596be; }

.btn-product-gallery:hover, .btn-product-gallery:focus {
  background-color: #2596be; }

.product-gallery-item:before {
  border-color: #2596be; }

.product-pager-link:hover, .product-pager-link:focus {
  color: #2596be; }
  .product-pager-link:hover span, .product-pager-link:focus span {
    box-shadow: 0 1px 0 #2596be; }

.product-details .product-cat a:hover, .product-details .product-cat a:focus {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }
.product-details .product-size a.active, .product-details .product-size a:hover, .product-details .product-size a:focus {
  color: #2596be;
  border-color: #2596be; }

.size-guide:hover, .size-guide:focus {
  color: #2596be; }

.product-details-action .btn-cart {
  color: #2596be;
  border-color: #2596be; }
  .product-details-action .btn-cart:hover, .product-details-action .btn-cart:focus {
    border-color: #2596be;
    background-color: #2596be; }

.product-details-tab .nav.nav-pills .nav-link:hover, .product-details-tab .nav.nav-pills .nav-link:focus {
  color: #2596be;
  border-bottom-color: #2596be; }

.product-desc-content a:hover, .product-desc-content a:focus {
  color: #2596be;
  border-bottom-color: #2596be; }

.review h4 a:hover, .review h4 a:focus {
  color: #2596be; }

.review-action a:hover, .review-action a:focus {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }

.product-details-extended .nav.nav-pills .nav-link.active, .product-details-extended .nav.nav-pills .nav-link:hover, .product-details-extended .nav.nav-pills .nav-link:focus {
  border-color: #2596be; }

.editor-content a:hover, .editor-content a:focus {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }
.editor-content blockquote {
  border-left-color: #2596be; }

.entry-tags a:hover, .entry-tags a:focus {
  color: #2596be; }

.entry-author-details h4 a:hover, .entry-author-details h4 a:focus {
  color: #2596be; }

.author-link:hover, .author-link:focus {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }

.pager-link {
  color: #2596be; }
  .pager-link:hover, .pager-link:focus {
    color: #2596be; }
    .pager-link:hover:after, .pager-link:focus:after {
      color: #2596be; }

.comment-reply:hover, .comment-reply:focus {
  color: #2596be;
  box-shadow: 0 1px 0 #2596be; }

.comment-user h4 a:hover, .comment-user h4 a:focus {
  color: #2596be; }

.product-col .product-title a:hover, .product-col .product-title a:focus {
  color: #2596be; }

/* Plugins */
.owl-theme .owl-nav [class*='owl-'] {
  color: #2596be; }
  .owl-theme .owl-nav [class*='owl-']:not(.disabled):hover {
    border-color: #2596be;
    background: #2596be; }
.owl-theme.owl-light .owl-nav [class*='owl-']:not(.disabled):hover {
  border-color: #2596be; }
.owl-theme.owl-light .owl-dots .owl-dot:hover span {
  border-color: #2596be;
  background: #2596be; }
.owl-theme.owl-light .owl-dots .owl-dot.active span {
  border-color: #2596be;
  background: #2596be; }

.owl-full .owl-nav [class*='owl-'] {
  color: #2596be; }
  .owl-full .owl-nav [class*='owl-']:hover, .owl-full .owl-nav [class*='owl-']:focus {
    color: #2596be; }
.owl-full .owl-dots .owl-dot span {
  border-color: #2596be; }
.owl-full .owl-dots .owl-dot:hover span {
  border-color: #2596be;
  background: #2596be; }
.owl-full .owl-dots .owl-dot.active span {
  border-color: #2596be;
  background: #2596be; }
.owl-full.owl-nav-dark .owl-nav [class*='owl-']:hover, .owl-full.owl-nav-dark .owl-nav [class*='owl-']:focus {
  color: #2596be; }

.owl-simple .owl-nav [class*='owl-']:not(.disabled):hover {
  color: #2596be; }
.owl-simple.owl-light .owl-dots .owl-dot:hover span {
  border-color: #2596be;
  background: #2596be; }
.owl-simple.owl-light .owl-dots .owl-dot.active span {
  border-color: #2596be;
  background: #2596be; }

.quickView-content .owl-theme.owl-light .owl-nav [class*='owl-'] {
  border: none;
  font-size: 3rem;
  color: #fff; }
  .quickView-content .owl-theme.owl-light .owl-nav [class*='owl-']:hover, .quickView-content .owl-theme.owl-light .owl-nav [class*='owl-']:focus {
    color: #2596be;
    background-color: transparent; }
.quickView-content .details-action-wrapper .btn-product:hover span, .quickView-content .details-action-wrapper .btn-product:focus span {
  color: #2596be;
  box-shadow: 0 1px 0 0 #2596be; }
.quickView-content .product-details-action .btn-cart {
  transition: color .3s; }
  .quickView-content .product-details-action .btn-cart:hover, .quickView-content .product-details-action .btn-cart:focus {
    border-color: #2596be;
    background-color: #2596be;
    color: #fff; }
.quickView-content .btn-wishlist,
.quickView-content .btn-compare {
  border: none; }
  .quickView-content .btn-wishlist:before,
  .quickView-content .btn-compare:before {
    color: #2596be; }
  .quickView-content .btn-wishlist:hover, .quickView-content .btn-wishlist:focus,
  .quickView-content .btn-compare:hover,
  .quickView-content .btn-compare:focus {
    color: #2596be;
    background-color: transparent; }
    .quickView-content .btn-wishlist:hover span, .quickView-content .btn-wishlist:focus span,
    .quickView-content .btn-compare:hover span,
    .quickView-content .btn-compare:focus span {
      color: #2596be; }
.quickView-content .btn-fullscreen:hover,
.quickView-content .btn-fullscreen:focus {
  color: #fff;
  background-color: #2596be; }

.quickView-content .product-left .carousel-dot.active img {
  opacity: 1;
  box-shadow: 0 0 0 1px #2596be; }
.quickView-content .product-left .carousel-dot:hover img, .quickView-content .product-left .carousel-dot:focus img {
  opacity: 1; }

.newsletter-popup-container .banner-title span {
  color: #2596be; }

/*# sourceMappingURL=skin-demo-2.css.map */
